.list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sorting {
    padding-bottom: 1rem;
    border-bottom: 3px solid #d4b2b2;
    margin-bottom: 2rem;
  }
  
  .sorting button {
    font: inherit;
    color: rgb(128, 0, 0);
    border: 1px solid rgb(128, 0, 0);
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
  
  .sorting button:hover {
    background-color: #fac2c2;
  }